{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">   
<div class="login-box">
  <h2>Login</h2>
  <form method="POST" action="">
   {% csrf_token %}
    <div class="user-box">
      <input type="text" name="username" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      <label>Password</label>
    </div>
  				 				<input class="btn login_btn" type="submit" value="Login">
    {%for x in messages %}
     <p>  {{x}} </p>
    {% endfor %}
  </form>
</div>